@import "tailwindcss";

@theme {
    /* Colors */
  --color-primary-100: #1e79bd;
  --color-primary-200: #b3ddf6; 
  --color-primary: #0d97d9;
  --color-secondary: #fbe843;

  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7D8087;
  --color-black: #000000;

  --color-white-100: #F7F7F7;
  --color-white: #FFFFFF;
}

.toaster [data-sonner-toast] {
  width: fit-content !important;
  max-width: 90vw !important; 
}

html, body {
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}